body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #282c34;
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  margin-bottom: 20px;
}

.board-row {
  display: flex;
}

.heading{
  font-size: xx-large;
  margin-bottom: 5%;
}

.reset{
  background-color: red;
  color: #ffffff;
width: 100px;
}

.square {
  background: #ffffff;
  border: 1px solid #999;
  border-radius: 50%;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin: 5px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
}
